<nav class="navbar">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand">Logo</a>
		</div>
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<li role="presentation"><a>酒店列表</a></li>
				<li role="presentation"><a>訂單列表</a></li>
				<li role="presentation"><a>消息</a></li>
				<li role="presentation"><a>廣告</a></li>
				<li role="presentation"><a>注冊</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li><a class="notification-bell"><span
						class="glyphicon glyphicon-bell"></span>
					<div class="badge">10</div></a></li>
				<li><a><span class="glyphicon glyphicon-user"></span></a></li>
			</ul>
		</div>
	</div>
</nav>
<main class="main">
<div ui-view="main" class="content"></div>
</main>
