<div>
	<div class="hotel-name-wrapper">
		<h1>{{::data.hotelDetail.name}}</h1>
	</div>
	<div class="hotel-detail-container">
		<ul class="hotel-detail-menu">
			<li class="hotel-detail-menu-item" ng-click="data.goto('info', hotelId)" ng-class="{'active': data.state === 'info'}">基本信息</li>
			<li class="hotel-detail-menu-item" ng-click="data.goto('banquet', hotelId)" ng-class="{'active': data.state === 'banquet'}">宴會廳信息</li>
			<li class="hotel-detail-menu-item" ng-click="goto('discount', hotelId)" ng-class="{'active': data.state === 'discount'}">優惠信息</li>
			<li class="hotel-detail-menu-item" ng-click="goto('order', hotelId)" ng-class="{'active': data.state === 'order'}">訂單信息</li>
			<li class="hotel-detail-menu-item" ng-click="goto('comment', hotelId)" ng-class="{'comment': data.state === 'comment'}">酒店評價</li>
		</ul>
		<div class="hotel-detail-content" ui-view="content"></div>
	</div>
</div>