<div class="banquet-hall-container">
	<div class="banquet-hall-list">
		<div>
			<h3>所有宴會廳</h3>
		</div>	
		<ul class="banquet-hall-list-container">
			<li>
				<div class="banquet-hall-item-wrapper" ng-click="data.addNewBanquet()">
					<div>添加新宴會廳</div>
				</div>
			</li>
			<li ng-repeat="hall in data.hotelDetail.banquetHalls">
				<div class="banquet-hall-item-wrapper" ng-class="{'active': hall.id === data.activeBanquet.id}">
					<div ng-click="data.onMethod('active')">{{hall.name}}</div>
					<div class="remove-banquet-wrapper" ng-click="data.onMethod('remove')" title="刪除該宴會廳">&times;</div>
				</div>
			</li>
		</ul>
	</div>
	<div class="banquet-hall-detail" ng-hide="!data.activeBanquet">
		<div>
			<div>
				<h3>基本信息</h3>
			</div>
			<form>
				<div class="row">
					<label-input-text class="col col-md-6" model="data.activeBanquet.name" label="名稱"></label-input-text>
					<label-input-number class="col col-md-6" model="data.activeBanquet.area" label="面積"></label-input-number>
					<label-input-number class="col col-md-6" model="data.activeBanquet.height" label="高度"></label-input-number>
					<label-input-text class="col col-md-6" model="data.activeBanquet.shape" label="大廳形狀"></label-input-text>
					<label-input-text class="col col-md-6" model="data.activeBanquet.actualArea" label="迎賓區域"></label-input-text>
					<label-input-text class="col col-md-6" model="data.activeBanquet.columns" label="立柱情況"></label-input-text>
					<label-input-text class="col col-md-6" model="data.activeBanquet.colorOfTablecloth" label="桌布顔色"></label-input-text>
					<label-range class="col col-md-6" from="data.activeBanquet.minimumTables" to="data.activeBanquet.maximumTables" label="桌數"></label-range>
					<label-input-number class="col col-md-6" model="data.activeBanquet.minimumPrice" label="最低消費"></label-input-number>
					<label-textarea class="col col-md-6" model="data.activeBanquet.extraInfos" label="額外信息"></label-textarea>
				</div>
			</form>
			<div class="row btn-row">
				<button class="btn btn-primary" ng-click="data.updateBanquet()">保存</button>
			</div>
		</div>
		<div>
			<div>
				<h3>圖片信息</h3>
			</div>
			<image-list images="data.activeBanquet.pictureUrls" on-add="data.addBanquetImage(files)" on-remove="data.removeBanquetImage(url)"></image-list>
		</div>
		<div class="菜單信息">
			<div>
				<h3>菜單信息</h3>
			</div>
			<div></div>
		</div>
	</div>
	<div class="banquet-hall-detail no-banquet-detail" ng-show="!data.activeBanquet">
		<span>沒有宴會廳信息</span>
	</div>
</div>