<form class="form">
	<div class="row">
		<label-plain-text class="col col-md-6" model="data.hotelDetail.id"
			label="ID"></label-plain-text>
		<label-input-text class="col col-md-6" model="data.hotelDetail.name"
			label="酒店名"></label-input-text>
		<label-address class="col col-md-6"
			city="data.hotelDetail.address.city"
			district="data.hotelDetail.address.district"
			street="data.hotelDetail.address.street" label="地址"></label-address>
		<label-input-text class="col col-md-6"
			model="data.hotelDetail.contact" label="聯係人"></label-input-text>
		<label-input-text class="col col-md-6"
			model="data.hotelDetail.telephone" label="聯係電話"></label-input-text>
		<label-input-text class="col col-md-6" model="data.hotelDetail.email"
			label="郵箱"></label-input-text>
		<label-number-range class="col col-md-6"
			from="data.hotelDetail.tableRange[0]"
			to="data.hotelDetail.tableRange[1]" label="桌數範圍"></label-number-range>
		<label-number-range class="col col-md-6"
			from="data.hotelDetail.priceRange[0]"
			to="data.hotelDetail.priceRange[1]" label="價格範圍"></label-number-range>
		<label-textarea class="col col-md-6"
			model="data.hotelDetail.description" label="描述"></label-textarea>
	</div>
	<div class="row btn-row">
		<button class="btn btn-primary" ng-click="data.updateHotelDetail()">保存</button>
		<button class="btn btn-default">取消</button>
	</div>
</form>
<div class="hotel-detail-image-info-container">
	<div>
		<h2>酒店圖片</h2>
	</div>
	<div>
		<image-list images="data.hotelDetail.images"></image-list>
	</div>
</div>