<div class="create-feast-container">
	<form class="form" name="createFeastForm" role="form" novalidate>
		<div class="row">
			<label-input-text class="col col-md-6" label="名稱" model="data.feast.name"></label-input-text>
			<label-input-number class="col col-md-6" label="價格"
				model="data.feast.price" step="0.01"></label-input-number>
			<editable-list class="col-adj col-md-12" label="菜譜" infos="data.feast.courseList"></editable-list>
		</div>
		<div class="row btn-row">
			<button class="btn btn-primary" ng-click="data.createFeast()" ng-disabled="createFeastForm.$invalid || data.feast.courseList.length === 0">保存</button>
		</div>
	</form>
</div>