<nav class="navbar">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
        		<span class="icon-bar"></span>
        		<span class="icon-bar"></span>
        		<span class="icon-bar"></span>
        	</button>
			<a class="navbar-brand">FeastBooking</a>
		</div>
		<div class="navbar-collapse collapse" id="navbar-collapse">
			<ul class="nav navbar-nav">
				<li role="presentation" ng-class="{'active': state.name.startsWith(constants.hotelsStatePrefix) || state.name.startsWith(constants.hotelStatePrefix)}"><a ui-sref="{{constants.hotelsStatePrefix + '.' + constants.hotelsListState}}">酒店</a></li>
				<li role="presentation"><a>訂單</a></li>
				<li role="presentation"><a>消息</a></li>
				<li role="presentation" ng-class="{'active': state.name.endsWith(constants.advertisementState)}"><a  ui-sref="{{constants.feastBookingPrefix + '.' + constants.advertisementState}}">廣告</a></li>
				<li role="presentation"><a>注冊</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li>
					<a class="notification-bell"> <span class="glyphicon glyphicon-bell"></span>
						<div class="badge">10</div>
					</a>
				</li>
				<li><a><span class="glyphicon glyphicon-user"></span></a></li>
			</ul>
		</div>
	</div>
</nav>
<main class="main" ui-view="main">
</main>
