@body-bg: rgb(243,243,243);
@content-bg: #fff;
@navbar-bg: #fff;
@color: #333;
@primary-color: #175199;
@theme-gray: #eee;
@light-theme-gray: lighten(@theme-gray, 5%);
@dark-theme-gray: darken(@theme-gray, 1%);
@nav-height: 50px;
@border: 1px solid @body-bg;
@table-padding: 10px 20px;
@checkbox-width: 18px;
/*user agent*/
body {
    height: 100vh;
    overflow: hidden;
    background-color: @body-bg;
    position: relative;
}
a {
    &:hover {
        cursor: pointer;
    }
}
span {
    padding: 6px;
}
ul {
    list-style: none;
}
/*bootstrap*/
.navbar {
    height: @nav-height;
    margin: 0;
    border: 0;
    border-radius: 0;
    background-color: @navbar-bg;
    .nav {
        >li {
            >a {
                &.active {
                    color: @color;
                }
                &:hover {
                    background-color: @navbar-bg;
                    color: @primary-color; 
                }
                color: lighten(@color, 40%);
            }
        }
    }
}
.table {
    border-top:1px solid rgb(221, 221, 221);
    border-bottom:1px solid rgb(221, 221, 221);
    margin-bottom: 0;
}
.table-pagination {
    text-align: center;
}
.row {
    padding: 10px;
}
.col {
    padding: 8px 20px;
    display: flex;
    justify-content: space-between;
}
.control-label {
    min-width: 100px;
    font-size: 16px;
    padding: 6px 0;
}
.btn {
    background-image: none;
}
/*global*/
.alert-container {
    position: absolute;
    z-index: 9999;
    top: 0px;
    left: 20px;
    width: 100%;
    >.alert {
        width: 500px;
        margin: 10px auto 0;
        text-align: center;
    }
}
main {
    &.main {
        height: calc(~'100vh -'@nav-height);
        position: absolute;
        top: @nav-height;
        left: 0;
        right: 0;
        overflow-x: hidden;
        overflow-y: scroll;
    }
    .content {
        min-height: 500px;
        width: 70%;
        padding: 20px;
        margin: 20px auto;
        background-color: @content-bg; 
    }
}
.table-container {
    >.table-control {
        display: flex;
        justify-content: space-between;
        padding: @table-padding;
        >.btn-group {
            >.btn {
                background-image: none;
            }
        }
    }
    >.table-body {
        padding: 0 20px;
        thead {
            background-color: @dark-theme-gray;
        }
        tbody {
            >tr{
                &:nth-child(2n-1) {
                    background-color: @light-theme-gray;
                }
                &:nth-child(2n) {
                    background-color: @theme-gray;
                }
                &:hover {
                    background-color: @dark-theme-gray;
                    cursor: pointer;
                }
            }
            
        }
    }
}
.btn-row {
    padding-right: 30px;
    text-align: right;
}
/*modal*/
.modal-window {
    width: 800px;
    margin: 20px  auto;
}
.modal-cross, .modal-plus {
    &:before {
        display: block;
    }
    &:hover {
        cursor: pointer;
        color: @dark-theme-gray;
    }
    float: right;
}
.modal-cross {
    &:before {
        content: '\2716';
    }
}
.modal-plus {
    &:before {
        content: '\271A';
    }
}
/*directives*/
.checkbox-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    >.checkbox-view {
        position: relative;
        width: @checkbox-width;
        height: @checkbox-width;
        background-color: white;
        color: #333;
        border: 1.3px solid lighten(#333, 60%);
        &:hover {
            cursor: pointer;
        }
        &.selected:before {
            content: "\2713";
            position: absolute;
            top: 0;
            left: 3px;
            font-size: 13px;
            font-weight: 800;
        }
    }
}
.image-gallery {
    max-width: 50%;
    .image-gallery-item-wrapper {
        position: relative;
        .image-gallery-hidder {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
            font-size: 200px;
            opacity: 0.3;
        }
        &:hover {
            .image-gallery-hidder {
                z-index: 1;
                background-color: @light-theme-gray;
                opacity: 0.3;
                cursor: pointer;
            }
        }
        img {
            z-index: 0;
            max-width: 100%;
            max-height: 100%;
        }
    }
}
@image-container-wrapper-width: 250px;
@image-container-wrapper-padding: 5px;
.image-list {
    display: flex;
    flex-wrap: wrap;
    >.image-container-wrapper {
        width: @image-container-wrapper-width;
        height: @image-container-wrapper-width;
        padding: @image-container-wrapper-padding;
        display: inline-block;
        >.image-container {
            width: @image-container-wrapper-width - 2* @image-container-wrapper-padding;
            height: @image-container-wrapper-width - 2* @image-container-wrapper-padding;
            padding: 5px;
            border: 1px solid @dark-theme-gray;
            background-color: transparent;
            >.image-container-content {
                width: 100%;
                height: 100%;
                position: relative;
                display: flex;
                align-items: center;
                background-color: @light-theme-gray;
                text-align: center;
                .image-container-control {
                    background-color: transparent;
                    text-align: right;
                    position: absolute;
                    top: 0;
                    right: 0;
                    >.image-zoom {
                        display: inline-block;
                    }
                    >.image-remove {
                        display: inline-block;
                    }
                }
                img {
                    max-width: 100%;
                    max-height: 100%;
                }
                span {
                    max-width: 100%;
                    max-height: 100%;
                }
                >.image-plus-wrapper {
                    width: 100%;
                    .glyphicon-plus {
                        font-size: 80px;
                    }
                }
            }
        }
    }
}
.range-container {
    display: flex;
    justify-content: space-between;
    .range {
        padding-left: 15px;
        padding-right: 15px;
    }
}
.address-container {
    display: flex;
    justify-content: space-between;
    input {
        margin-right: 20px;
        &:last-child {
            margin-right: 0;
        }
    }
}
.number-range-container {
    display: flex;
    justify-content: space-between;
    input {
        margin-right: 20px;
        &:last-child {
            margin-right: 0;
        }
    }
}
/*hotel detail*/
.hotel-detail-menu {
    display: flex;
    padding-left: 0;
    >.hotel-detail-menu-item {
        min-width: 100px;
        padding: 10px 20px;
        font-size: 16px;
        font-weight: 300;
        position: relative;
        text-align: center;
        border-bottom: 1px solid @dark-theme-gray;
        margin-bottom: 2px;
        &:hover {
            color: @primary-color;
            border-bottom: 3px solid @dark-theme-gray;
            cursor: pointer; 
            margin-bottom: 0;
        }
        &.active {
            &:before {
                content: "";
                display: block;
                width: 100%;
                height: 3px;
                background-color: @primary-color;
                position: absolute;
                bottom: -3px;
                left: 0;
            }
            &:hover {
                //border-bottom: 0;
            }
        }
    }
}
.hotel-name-wrapper {
    padding: 0 40px;
}
.hotel-detail-container {
    padding: 0 20px;
}
.banquet-hall-container {
    >.banquet-hall-detail {
        padding: 20px;
    }
    >.banquet-hall-detail.no-banquet-detail {
        text-align: center;
        margin: 20px;
    }
    >.banquet-hall-list {
        padding: 20px;
        flex: 0 0 250px;
        ul.banquet-hall-list-container {
            padding-left: 0;
            display: flex;
        }
        .banquet-hall-item-wrapper {
            width: 200px;
            padding: 6px;
            margin-bottom: 10px;
            margin-right: 10px;
            border: 1px solid @theme-gray;
            border-radius: 4px;
            background-color: @light-theme-gray;
            text-align: center;
            position: relative;
            &:hover {
                background-color: @theme-gray;
                color: @primary-color;
                cursor: pointer;
            }
            .remove-banquet-wrapper, .add-banquet-wrapper {
                position: absolute;
                width: 20px;
                top: 2px;
                right: 10px;
                font-size: 20px;
                font-weight: 400;
            }
            &.active {
                background-color: @primary-color;
                color: white;
                &:hover {
                    background-color: @primary-color;
                    color: white;
                }
            }
        }
    }
    >.banquet-hall-detail {
        flex: 1 1 auto;
    }
}
/*signin*/
.signin-board {
    width: 300px;
    padding: 100px 20px 80px;
    margin: 20vh auto 0 auto;
    .signin-info-container {
        >input {
            border-radius: 0;
            height: 40px;
        }
        >input:nth-child(1 + n) {
            border-top: 0;
        }
        >input:first-child {
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
        }
        >input:last-child {
            border-bottom-left-radius: 4px;
            border-bottom-right-radius: 4px;
        }
    }
    >.btn-row {
        text-align: center;
        padding-right: 10px;
        >.btn {
            width: 100%;
        }
    }
}